.UnderConstruction {
    width: 500px;
    border: 2px solid rgb(211, 197, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0);
    margin-bottom: 20px;
}

.skill_container {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    flex: 1;
    min-width: 100px;
    max-width: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: -webkit-center;
}

.skill .icon img {
    width: 55px;
}

.skill .spacer {
    border-top: 2px solid rgb(182, 182, 182);
    width: 80%;
}

.skill .text {
    font-size: 20px;
}

.projectContainer {
    border: 2px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 8px;
    background-color: aliceblue;
    margin-bottom: 4px;
    max-width: 800px;
}

.projectContainer .container {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.projectContainer .title {
    text-decoration: underline solid
}

.projectContainer .projImage {
    align-self: center;
}

.projectContainer .spacer {
    border-left: 2px solid rgb(182, 182, 182);
    height: 180px;
    margin: 10px;
    align-self: center;
}

